.navbar .navbar-nav .nav-link {
  color: #807878;
  font-size: 1em;
  text-align: center;
}

.navbar .navbar-nav .nav-link:hover {
  color: #35a3ec;
  text-decoration: underline;
}

.sm-icons {
  flex-direction: row;
}

#logo {
  width: 80px;
  height: 60px;
}

@media only screen and (max-width: 960px) {
  .sm-icons .nav-item {
    padding-right: 1em;
  }
  #logo {
    width: 80px;
    height: 60px;
  }
}
