h1 {
  font-family: "Fjalla One", sans-serif;
  font-size: 60px;
}
.paragraph {
  font-family: "Fjalla One", sans-serif;
  color: grey;
}
.btn {
  -webkit-border-radius: 58;
  -moz-border-radius: 58;
  border-radius: 58px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #54bbff;
  padding: 10px 40px 10px 29px;
  border: solid #ffffff 1px;
  text-decoration: none;
}

.btn:hover {
  background: #368cc2;
  text-decoration: none;
}

.btna {
  -webkit-border-radius: 58;
  -moz-border-radius: 58;
  border-radius: 58px;
  font-family: Arial;
  color: #48caf2;
  font-size: 20px;
  background: #ffffff;
  padding: 10px 40px 10px 29px;
  border: solid #299bff 1px;
  text-decoration: none;
}

.btna:hover {
  background: #368cc2;
  text-decoration: none;
}
#slider-content {
  top: 60px;
}
.image2 {
  display: none;
}
.image3 {
  display: none;
}
@media only screen and (max-width: 768px) {
  .image1 {
    display: none;
  }
}
@media only screen and (max-width: 365px) {
  .image2 {
    display: none;
  }
  .image3 {
    display: block;
    position: relative;
    top: 60px;
  }
}
@media only screen and (max-width: 376px) {
  .image3 {
    display: block;
    position: relative;
    top: 60px;
  }
}
#inline-button {
  display: inline-block;
}
