<head>
  <link rel="stylesheet" href="../css/Footer.css" />
</head>
<!-- The content of your page would go here. -->

<footer class="footer-distributed">
  <div class="footer-left">
    <img src="img/whdph_logo.png" />
    <h3><span>WHDPH</span></h3>

    <p class="footer-links">
      <a href="#">Home</a>
      |
      <a href="#">Books</a>
      |
      <a href="#">Contact</a>
    </p>
  </div>

  <div class="footer-center">
    <div>
      <i class="fa fa-map-marker"></i>
      <p>
        <span>309 - Rupa Solitaire, Bldg. No. A - 1, Sector - 1</span> Mahape,
        Navi Mumbai - 400710
      </p>
    </div>

    <div>
      <i class="fa fa-phone"></i>
      <p>+91 22-27782183</p>
    </div>
    <div>
      <i class="fa fa-envelope"></i>
      <p><a href="mailto:support@eduonix.com">support@eduonix.com</a></p>
    </div>
  </div>
  <div class="footer-right">
    <p class="footer-company-about">
      <span>About the company</span>
      We offer training and skill building courses across Technology, Design,
      Management, Science and Humanities.
    </p>
    <div class="footer-icons">
      <a href="#"><i class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
      <a href="#"><i class="fa fa-instagram"></i></a>
      <a href="#"><i class="fa fa-linkedin"></i></a>
      <a href="#"><i class="fa fa-youtube"></i></a>
    </div>
  </div>
  <br />
  <p
    class="footer-company-name"
    style="text-align: center; text-decoration: underline"
  >
    Copyright WHDPH ©2021 All rights reserved
  </p>
</footer>
