<head>
  <link rel="stylesheet" href="../css/slider.css" />
</head>
<div class="container">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6" id="slider-content">
        <h1>
          You Too Become <br />
          An Author
        </h1>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis
          veniam porro veritatis at, aperiam dolorem. Dolor molestias totam
          officiis corrupti molestiae? Itaque voluptas ad iste voluptatibus.
          Ducimus rem voluptatem asperiores. Lorem ipsum, dolor sit amet
          consectetur adipisicing elit. Iste reiciendis adipisci aliquid eius
          dolores. Temporibus voluptatibus vel totam ipsa quo quaerat blanditiis
          consectetur eveniet officiis beatae, in perspiciatis necessitatibus
          quod?
        </p>
        <button class="btn">
          <i class="fas fa-arrow-right"></i> Read More
        </button>
        <button class="btna">
          <i class="fas fa-user-graduate"></i> Become An Author
        </button>
      </div>
      <div class="col-md-6">
        <img class="image1" alt="Bootstrap Image Preview" src="img/book.png" />
        <img class="image2" alt="Bootstrap Image Preview" src="img/book2.png" />
        <img class="image3" alt="Bootstrap Image Preview" src="img/book3.png" />
      </div>
    </div>
  </div>
</div>
